---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<!-- Contenido principal -->
<div class="container mt-4">
    <h2 class="display-4">Acerca de</h2>
    <p class="lead">Esta wiki es un proyecto desarrollado por Mauricio Arellano Tsimogianis, para la materia Lenguajes Interpretados con el objetivo de documentar y compartir conocimientos sobre el fútbol soccer.</p>
    <!-- Más información sobre ti y el proyecto -->
</div>
