.libro-1 {
    background-image: url("https://thumbs.dreamstime.com/z/fondo-del-f%C3%BAtbol-12587942.jpg");
}

.libro-2 {
    background-image: url("https://example.com/libro-2.jpg");
}

.libro-3 {
    background-image: url("https://example.com/libro-3.jpg");
}

.pelicula-1 {
    background-image: url("https://example.com/pelicula-1.jpg");
}

.pelicula-2 {
    background-image: url("https://example.com/pelicula-2.jpg");
}

.pelicula-3 {
    background-image: url("https://example.com/pelicula-3.jpg");
}

.articulo-7 {
    background-image: url("https://example.com/articulo-7.jpg");
}

.articulo-8 {
    background-image: url("https://example.com/articulo-8.jpg");
}