/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  background-image: url(https://i.pinimg.com/originals/9e/f2/8c/9ef28c9fb4282d055454bcd9cc6c2a35.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

/* Barra de navegación con colores de equipo */
.navbar {
  background-color: #007BFF; /* Azul oscuro, cambia según tu equipo favorito */
  border-bottom: 3px solid #FFD700; /* Borde dorado, cambia según los colores del equipo */
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #FFD700; /* Resalta los enlaces al pasar el mouse */
}

/* Título principal con sombra para dar efecto de profundidad */
h1, h2 {
  color: #fcfcfc;
  text-shadow: 2px 2px #000000;
}

/* Pie de página con colores a juego */
.footer {
  background-color: #007BFF;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

/* Tarjetas de artículos con bordes redondeados y sombras */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(2, 2, 2, 0.1);
  margin-bottom: 2rem;
}

.card-title {
  color: #007BFF;
}

.card-text {
  color: #333;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
